.btnMix (@bg-color, @border-radius, @font-size) {
    background-color: @bg-color;
    border-radius: @border-radius;
    font-size: @font-size;
    color: white;
    text-align: center;
    padding: 5%;
}